.Image img {
  size: 1200px;
  border-radius: 15px;
  position: static;
}

.Image footer {
  margin: 0;
  display: block;
  font-family: "Castoro", serif;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 600px;
  right: 450px;
}
