.Image img {
  display: block;
  margin: 0;
  text-align: center;
  size: 500px;
  padding: 20px 30px;
  border-radius: 35px;
  position: static;
}

.Container {
  display: block;
  margin: 0;
  text-align: center;
  padding: 10px 50px;
}
