.Units span {
  display: block;
  margin: 0;
  text-align: center;
  color: navy;
  font-size: 50px;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  top: 20px;
  left: 580px;
  position: fixed;
  text-shadow: 2px 2px 2px black;
}
.weather .temperature {
  display: block;
  margin: 0;
  text-align: center;
  color: navy;
  font-size: 85px;
  font-family: "Castoro", serif;
  font-weight: bold;
  opacity: 1;
  top: 10px;
  left: 478px;
  position: fixed;
  text-shadow: 2px 2px 2px black;
}

.Units span .active {
  color: rgb(233, 8, 121);
  text-shadow: 2px 2px 2px black;
  cursor: default;
}

.Units span .deactivated {
  color: rgb(57, 71, 199);
  text-decoration: none;
}
