.Weather .container-xl {
  display:block;
  margin:0;
  background-image: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%);
  padding: 50px;
  border-radius: 25px;
  opacity: 0.85;
  max-width: 600px;
  text-align: center;
  color:#1f1c1c;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
