.WeatherTemperature .unit {
  font-family: 'Playfair Display SC',
  serif;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  display: block;
  text-align: center;
  position: relative;
  left: 69px;
  bottom: 65px;
}

.WeatherTemperature .temperature {
  font-size: 65px;
  margin: 0;
  font-family: 'Playfair Display SC',
  serif;
}
