.Weather .container-xl {
  margin: 0;
  display: block;
  background-color: #95cf94;
  top: 100px;
  position: fixed;
  right: 400px;
  padding: 80px;
  border-radius: 25px;
  opacity: 0.85;
  background-color: #95cf94;
  max-width: 1140px;
}
