.WeatherTemperature .unit {
  font-family: "Kaisei Decol", serif;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  right: 720px;
  bottom: 278px;
}

.WeatherTemperature .temperature {
  font-size: 33px;
  margin: 0;
  display: block;
  bottom: 268px;
  right: 740px;
  position: fixed;
}
