.WeatherTemperature .unit {
  font-family: "Kaisei Decol", serif;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  right: 645px;
  bottom: 228px;
}

.WeatherTemperature .temperature {
  font-size: 33px;
  margin: 0;
  display: block;
  bottom: 220px;
  right: 665px;
  position: fixed;
}
