.WeatherInfo .temperature {
  font-weight: bold;
  line-height: 64px;
  font-family: "Libre Baskerville", serif;
  font-size: 45px;
}

.WeatherInfo .unit {
  font-size: 20px;
  font-weight: 400px;
  margin-left: none;
  line-height: 64px;
  position: relative;
}

.WeatherInfo img {
  height: 64px;
  margin-right: 0px;
  display: inline-block;
}

.WeatherInfo li {
  list-style: none;
}

.WeatherInfo .city {
  font-family: "Libre Baskerville", serif;
  font-size: 45px;
}

.WeatherInfo .Humidity {
  font-family: "Kaisei Decol", serif;
  font-size: 15px;
  font-weight: bold;
}

.WeatherInfo .Wind {
  font-family: "Kaisei Decol", serif;
  font-size: 14px;
  font-weight: bold;
}

.WeatherInfo .Precipitation {
  font-family: "Kaisei Decol", serif;
  font-size: 15px;
  font-weight: bold;
}

.WeatherInfo .Date {
  font-family: "Kaisei Decol", serif;
  font-size: 17px;
  font-weight: bold;
}

.WeatherInfo .text-capitalize {
  font-family: "Kaisei Decol", serif;
  font-size: 16px;
  font-weight: bold;
}
