.WeatherInfo .temperature {
  font-weight: bold;
  line-height: 64px;
  font-family: 'Playfair Display SC',
  serif;
  font-size: 95px;
}

.WeatherInfo .unit {
  font-size: 20px;
  font-weight: 400px;
  margin-left: none;
  line-height: 64px;
  position: relative;
  font-family: 'Playfair Display SC',
  serif;
}

.WeatherInfo li {
  list-style: none;
}

.WeatherInfo .city {
  font-family: 'Playfair Display SC',
  serif;
  font-size: 45px;
  font-weight: bolder;
}

.WeatherInfo .Humidity {
  font-family: 'Playfair Display SC',
  serif;
  font-size: 15px;
  font-weight: bold;
}

.WeatherInfo .Wind {
  font-family: 'Playfair Display SC',
  serif;
  font-size: 14px;
  font-weight: bold;
}

.WeatherInfo .Precipitation {
  font-family: 'Playfair Display SC',
  serif;
  font-size: 15px;
  font-weight: bold;
}

.WeatherInfo .Date {
  font-family: 'Playfair Display SC',
  serif;
  font-size: 17px;
  font-weight: bold;
}

.WeatherInfo .text-capitalize {
  font-family: 'Playfair Display SC',
  serif;
  font-size: 16px;
  font-weight: bold;
}
