.Weather .card {
  display: block;
  margin: 0;
  top: 150px;
  position: fixed;
  right: 400px;
  padding: 30px;
  border-radius: 20px;
  opacity: 0.85;
  background-color: #95cf94;
}

.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}
